<h1>Create a New Vendor</h1>

<form method="post" action="/vendors">
  <label for="vendorName">Vendor Name:</label>
  <input type="text" name="vendorName" required />
  <br />
  <label for="vendorDescription">Vendor Description:</label>
  <textarea name="vendorDescription" required></textarea>
  <br />
  <button type="submit">Create Vendor</button>
</form>

<a href="/vendors">Return to All Vendors</a>
