@{
  Layout = "_Layout";
}

<div class="jumbotron text-center">
  <h1>Welcome, Pierre!</h1>
  <p>Your Vendor and Order Tracker is ready to help you manage your business relationships.</p>
  <a class="btn btn-primary" href="/vendors">View Vendors</a>
</div>
